doctype html
h1 Tasks
.row
            .form-group
                input.form-control#addTask(
                    type='text'
                    value='text' placeholder='Add your task...'
                    name='addTask',
                    ng-model='taskText',
                )
                input.btn.btn-primary.pull-right(
                    type="button" value='Add'
                    ng-click='addTask()'
                    ng-disabled='isReordering'
                )


.row
    .col-6
        h4
        | Tasks List
        | (use the 'hand' symbol to sort via drag and drop, click on a task text to edit)
.row
    div(ng-if='isLoading')
        | LOADING... (a nice spinner should come here)
    div(ng-if='!isLoading')
        ul(ng-sortable='sortableConf')
            li(ng-repeat='task in tasks' id="task-{{$index}}" draggable="true")
                .row
                    .col-sm-1.fa.fa-hand-rock-o.dnd-handle
                        | &nbsp;
                    .col-sm-1
                        input(type='checkbox' ng-model='task.done' ng-change='updateTaskStatus(task)'
                        id="taskDone-{{$index}}"
                        )
                    .col-sm-6
                        input(type='text' ng-model='task.text' ng-change='updateTaskText(task)'
                            ng-show='editingTaskIdx==$index' ng-blur='editingTask()'
                            ng-model-options="{'updateOn': 'default blur','debounce': {'default': 200,'blur': 0}  }"
                            id='taskText-{{$index}}'
                            )
                        span.taskText(ng-show='editingTaskIdx!=$index' ng-focus='editingTask($index)'
                            ng-class='{taskDone:task.done, taskNotDone:!task.done}' contentEditable='true'
                            )
                            |{{task.text}}
                    .col-sm-1
                        button(ng-click='deleteTask(task)' ng-disabled='isReordering')
                            .fa.fa-trash


