doctype html

.row.app-body
    .menu.col-2

        header
            a.logo(href='/')

        div
            a(href='/', ng-class='{ current: $location.path() === "/" }') Home
        div
            a(href='/docs/overview', ng-class='{ current: $location.path() === "/docs/overview" }') Overview
        div
            a(href='/docs/get-started', ng-class='{ current: $location.path() === "/docs/get-started" }') Get Started
        div
            a(href='/docs/exercise', ng-class='{ current: $location.path() === "/docs/exercise" }') Code Exercise
        div
            a(href='/docs/dev-api', ng-class='{ current: $location.path() === "/docs/dev-api" }') Dev API
        div
            a(href='/api-demo', ng-class='{ current: $location.path() === "/api-demo" }') Dev API Demo
        div
            a(href='/tasks', ng-class='{ current: $location.path() === "/tasks" }') Tasks

    .app-content.col-10

        ng-view