doctype html

html(ng-app='app', lang='en')

    head

        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', type='image/x-icon', href='./favicon.ico')

        title SIPlay Interview: AngularJS

        base(href='/')

    body

        app.container
